################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SimplificaITR.BackEnd/obj
/SimplificaITR.BackEnd.Tests/obj
/SimplificaITR.BackEnd.Tests/bin/Debug/net6.0
*.dll
/SimplificaITR.BackEnd/bin/Debug/net6.0
